<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Register</title>
</head>

<body>
    <h1>Register!</h1>

    <form  class="formulario"  method="POST" action="/api/usuarios">

        <label class="label"  >Nombre:</label>
        <input class="input" type="text" name="nombre"><br><br>
        <label class="label" >Email:</label>
        <input class="input" type="email" name="correo"><br><br>
        <label class="label"> Password:</label>
        <input class="input" type="password"  name="password"><br><br>
        <label class="label">Telefono:</label>
        <input class="input" type="tel"  name="telefono"><br><br>
        <input class="boton" type="submit" value="Submit">

    </form>
      <a href="/api/auth/login">Login</a>
</body>

</html>